@import '~antd/dist/antd.css';

.app {
  text-align: center;
}

.appHeader {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: rgba(40, 44, 52, 0.65);
}

.appLink {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btnIcon {
  margin-right: 10px;
  font-size: 23px;
}

.btnSocial {
  margin: 10px 5px 0px 5px;
}

.btnWhatsApp {
  font-size: 18px;
  height: 50px;
  background-color: #00C853;
  border-color: #009e42;
}

.btnWhatsApp:hover {
  color: #00C853;
  background-color: white;
  border-color: white;
}

.btnLinkedin {
  font-size: 18px;
  height: 50px;
  background-color: #0077b5;
  border-color: #0077b5;
}

.btnLinkedin:hover {
  color: #0077b5;
  background-color: white;
  border-color: white;
}

.btnGithub {
  font-size: 18px;
  height: 50px;
  background-color: #0d1012;
  border-color: #0d1012;
}

.btnGithub:hover {
  font-size: 18px;
  height: 50px;
  color: #0d1012;
  background-color: white;
  border-color: white;
}

.heading {
  color: white;
  font-size: 42px;
  font-weight: 500;
  margin-bottom: 10px;
}

.subtitle {
  color: white;
  font-size: 21px;
  line-height: 30px;
  font-weight: 300;
}

.headingColor {
  color: #282c34;
  font-size: 42px;
  font-weight: 500;
  margin-bottom: 10px;
}

.subtitleColor {
  color: #282c34;
  font-size: 21px;
  line-height: 30px;
  font-weight: 300;
}

.divHeading {
  margin: 10px 20vw 10px 20vw;
}

@media screen and (max-width: 1280px) {
  .divHeading {
    margin: 10px 10vw 10px 10vw;
  }
}


.cardColumn {
  margin-top: 20px;
}

.starDestaque {
  margin-right: 10px;
  color: #FFFF00;
}

.headingCTA {
  color: white;
  font-size: 56px;
  font-weight: 500;
  margin-bottom: 21px;
  line-height: 68px;
}

.subtitleCTA {
  color: white;
  font-size: 32px;
  line-height: 30px;
  font-weight: 300;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.tecnologias {
  background-color: white;
  padding: 50px 0px 50px 0px;
}

.buttonsCTA {
  margin-top: 5vw;
}

.appFooter {
  background-color: #282c34;
  padding: 20px 0px 20px 0px;
}

.pFooter {
  color: white;
  font-size: 16px;
  margin: 0;
}

.road {
  background-color: #282c34;
  padding: 50px 0px 50px 0px;
}

.imgLogo {
  max-width: 250px;
}

.sliderContainer {
  padding: 0px 50px 0px 20px;
}

.cardTitle {
  margin: 0;
  font-size: 19px;
  font-weight: 600;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.cardText {
  font-size: 19px;
  margin: 0px 20px 0px 20px;
}

.interesses {
  background-color: white;
  padding: 50px 0px 50px 0px;
}


.divCarousel {
  margin: 10px 10vw 10px 10vw;
}

@media screen and (max-width: 1280px) {
  .divCarousel {
    margin: 10px 10vw 10px 10vw;
  }
}