@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btnIcon {
  margin-right: 10px;
  font-size: 23px;
}

.btnWhatsApp {
  font-size: 18px;
  height: 50px;
  background-color: #00C853;
  border-color: #009e42;
}

.heading {
  color: white;
  font-size: 42px;
  font-weight: 500;
}

.subtitle {
  color: white;
  font-size: 21px;
  line-height: 30px;
  font-weight: 300;
}

.divHeading {
  margin: 10px 20vw 10px 20vw;
}

@media screen and (max-width: 1280px) {
  .divHeading {
    margin: 10px 10vw 10px 10vw;
  }
}

.cardText {
  font-size: 16px;
}

.cardColumn {
  margin-top: 20px;
}

.starDestaque {
  margin-right: 10px;
  color: #FFFF00;
}